---
titl: coleflowers的微笔记
description: 电脑小技巧,人生微感悟,屌丝传,名人名言
note:
  - title: 什么是成功
    main: 其实，所谓成功，无非就是你身边的人，因为有你，而感到快乐。--by 咪蒙
  - title: 什么是成熟
    main: 一个人成熟的标志之一就是，明白每天发生在自己身上的99%的事情对于比人而言根本毫无意义。 --by 马克·鲍尔莱因 Mark Bauerlein
  - title: winrar(4.20 32位)禁止弹出“请购买winrar许可”对话框
    main: RAR registration data<br/>Federal Agency for Education<br/>1000000 PC usage license<br/>UID=b621cca9a84bc5deffbf<br/>6412612250ffbf533df6db2dfe8ccc3aae5362c06d54762105357d<br/>5e3b1489e751c76bf6e0640001014be50a52303fed29664b074145<br/>7e567d04159ad8defc3fb6edf32831fd1966f72c21c0c53c02fbbb<br/>2f91cfca671d9c482b11b8ac3281cb21378e85606494da349941fa<br/>e9ee328f12dc73e90b6356b921fbfb8522d6562a6a4b97e8ef6c9f<br/>fb866be1e3826b5aa126a4d2bfe9336ad63003fc0e71c307fc2c60<br/>64416495d4c55a0cc82d402110498da970812063934815d81470829275<br/>以上复制到txt(或其他文本编辑器)命名为rarreg.key保存到winrar的安装目录，重启winrar生效。
---
<html  xmlns="http://www.w3.org/1999/xhtml">
<head>
	<style type="text/css" media="screen">
		#content {
			width: 960px;
			position: relative;
			left: 50%;
			margin: 0px 0px 0px -480px;
		}
		{% include topa.css %}
		#bottom {
			position: relative;
			left: 50%;
			margin-left: -480px;
			width: 960px;
			text-align: center;
			padding: 0px;
		}
	</style>
	<title>{{ page.titl }}</title>
</head>
<body>
{% include topa.html %}
<div id="content">
	<h1>{{ page.titl }}</h1>
	{% for item in page.note %}
	<div class="content">
		<h2>{{ item.title }}</h2>
		<p>{{ item.main }}</p>
		<hr>
	</div>
	{% endfor %}
</div>
{% include bottoma.html %}
</body>
</html>
