<div id="bottom">
	Copyright 2013 ¡¤ <a href="{{ site.baseurl }}">coleflowers</a>. ¡¤ All rights Reserved | <a href="ailto:coleflowers@163.com?subject=hello!">Contact me</a> | <a href="{{ site.production_url }}/atom.xml">Rss</a>
</div>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8f32fa35b84c1e3ee7129937521b037c' type='text/javascript'%3E%3C/script%3E"));
</script>