<div id="top">
	<div id="topb">
		<div id="topcenter">
			<div id="title">
				<div class="link" style="width:20px;height:20px;background:url(/images/github.png)">
					<a href="https://github.com/coleflowers" target="_blank" title="my github">github</a>
				</div>
				<div class="link" style="background:url(/images/sina.png);width:27px;height:20px">
					<a href="http://weibo.com/u/3148693702" target="_blank" title="sina_新浪微博">新浪微博</a>
				</div>
			</div>
			<div id="nav">
				<ul>
					<li id="home"><a href="{{ site.production_url }}"><acronym title="home">首&nbsp;&nbsp;页</acronym></a></li>
					<li style="display:none" id="note"><a target="_blank" href="http://coleflowers.github.io/note.html" title="note">微笔记</a></li>
					<li id="about"><a target="_blank" href="http://coleflowers.github.io/about.html"><acronym title="about me">关&nbsp;&nbsp;于</acronym></a></li>
				</ul>
			</div>
		</div>
		<div id="b"></div>
	</div>
</div>