* a {
	text-decoration: none;
}
* {color: #555;}
body, #top, #topb, #nav ul {
	margin: 0px;
	padding: 0px;
}
h1 { /*控制标题h1*/
	font-family: "Microsoft YaHei";
	color: #555;
	margin-top: -4px;
}
h2 { /*控制标题h2*/
	padding: 0px;
	border-left: 10px solid #a11;
	margin: 20px 0px 0px 0px;
}
#top { /*顶部*/
	height: 44px;
	background: #ffff00;
	margin: 0px;
	padding: 0px;
	line-height: 40px;
}
#topb { /*#top包含div控制背景色*/
	height: 40px;
	background: #B3B3B3;
}

#title { /*标题及其他信息*/
	float: left;
	padding: 0px;
	margin: 0px;
}
#nav { /*导航*/
	float: right;
}
#nav li {
	list-style-type: none;
	float: left;
	font-family: "Microsoft YaHei";
	font-size: 18px;
	color: #fff;
	text-align: center;
	width: 100px;
	height: 40px;
}
#home {
	border-bottom: 5px solid #A11;
}
#note {
	border-bottom: 5px solid #4b5cc4;
}
#about {
	border-bottom: 5px solid #fa8c35;
}
#nav li:hover {
	background: #a11;
	color: #fff;
}
#nav a:link, #nav a:visited {
	color: #fff;
}
#nav a:hover {
	
}
#topcenter {
	position: relative;
	left: 50%;
	margin-left: -480px;
	padding: 0px;
	width: 960px;
}
.link {
	float: left;
	margin: 8px 10px auto 0px;
}
.link a {
	display: block;
	width: 20px;
	height: 20px;
	text-indent: -999em;
}